body {
    color: #17202A;
    box-sizing: border-box;
}

.main-wraper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    header, footer {
        min-height: 2.5rem;
        padding: 1.2rem 0 0 11%;
        vertical-align: middle;
        background-color: #717D7E;
    }

    .main-content {
        flex: 1;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;

        .nav-bar {
            width: 10%;
            border: 0.1rem solid #17202A;
        }

        .main-content-container {
            flex: 1;
            height: 100%;
            overflow: hidden;
        }
    }
}
