<div class="main-search-wrapper">
    <div class="input">
        <mat-form-field class="search-form-field" appearance="outline">
            <mat-label>search images</mat-label>
            <input matInput type="text"
                    [(ngModel)]="inputValue"
                    (keydown.enter)="getImages()"
                    (ngModelChange)="this.debounceGet.next($event)">
            <button mat-button *ngIf="inputValue"
                    matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="clearInputValue()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="pagination">
      <pagination-controls id="images-pagination"
                          (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="main-content">
      <mat-grid-list cols="3" rowHeight="1:1.7">
          <mat-grid-tile *ngFor="let image of images | paginate: { id: 'images-pagination',
                                                                    itemsPerPage: 9,
                                                                    currentPage: page,
                                                                    totalItems: totalRecords }">
          <mat-card>
              <mat-card-header>
                <mat-card-title>image name</mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="image.url" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  {{image.title}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="addToBookmarks(image)">Bookmark it!</button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
      </mat-grid-list>
    </div>
</div>

<div class="main-search-error" *ngIf="errorValue">
  <h3>this image already exist in bookmarks</h3>
</div>
