<div class="bookmarks-content">
  <div class="inner-wrapper">
    <mat-grid-list cols="3" rowHeight="1:1.5">
      <mat-grid-tile *ngFor="let image of bookmarks; let idx = index">
      <mat-card>
          <img mat-card-image [src]="image.url" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
             {{image.title}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="removeBookmark(image)">
                remove bookmark!
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
  </div>
</div>
