.bookmarks-content {
    width: 80%;
    position: absolute;
    top: 3rem;
    left: 12%;

    img {
        width: 90%;
        height: 90%;
    }

    .example-card {
        max-width: 25rem;
    }
}